<% obj.comments.each do |c| %> 
<div class='row'>
<div class='span0 well text-center'>
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(c.post, c, vote: true), method: 'post', remote: true do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
  <% end %>
  <span id="comment_<%= c.id %>_vote"><%= c.total_votes %></span> votes<br/>
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(c.post, c, vote: false), method: 'post', remote: true do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  <% end %>
</div>

  <div class="span8 well">
    "<%= c.body %>"
    <% if obj.class == User %>
      on <%= link_to c.post.title, post_path(c.post) %>
    <% end %>
    <br/>
    <span class="quiet">by </span>
    <%= link_to c.creator.username, user_path(c.creator) %>
    <%= fix_datetime(c.created_at) %>
  </div>
  </div>
<% end %>