<!-- <h5>Pure HTML Form</h5>
<form action='/posts' method='POST'>
<input type='text' name='my_title'>
<br/>
<input type='submit' class='btn btn-primary'>
</form>

<h5>Rails form helpers</h5>
<%= form_tag '/posts' do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <br/>
  <%= submit_tag "Create Post", class: 'btn btn-primary' %>
<% end %> -->

<%= render 'shared/content_title', title: 'Create New Post' %>

<%= render 'form' %>

